<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:jaxws="http://cxf.apache.org/jaxws"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.0.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

  <context:annotation-config/>
  <context:component-scan
    base-package="fr.brucella.form.prescows"/>

  <!-- Authentification Service -->
  <jaxws:server
    serviceClass="fr.brucella.form.prescows.services.AuthentificationService" address="/authentificationService"
    serviceBean="#authentificationService" />
  <bean id="authentificationService" class="fr.brucella.form.prescows.services.AuthentificationService" />

  <!-- Book Service -->
  <jaxws:server
    serviceClass="fr.brucella.form.prescows.services.BookService" address="/bookService"
    serviceBean="#bookService" />
  <bean id="bookService" class="fr.brucella.form.prescows.services.BookService" />

  <!-- Prescription Service -->
  <jaxws:server
    serviceClass="fr.brucella.form.prescows.services.PrescriptionService" address="/prescriptionService"
    serviceBean="#prescriptionService" />
  <bean id="prescriptionService" class="fr.brucella.form.prescows.services.PrescriptionService" />

  <!-- Alert Service -->
  <jaxws:server
    serviceClass="fr.brucella.form.prescows.services.AlertService" address="/alertService"
    serviceBean="#alertService" />
  <bean id="alertService" class="fr.brucella.form.prescows.services.AlertService" />

  <!-- Spring context files import -->
  <import
    resource="classpath:/fr/brucella/form/prescows/services/servicesContext.xml"/>
  <import
    resource="classpath*:/fr/brucella/form/prescows/dao/daoContext.xml"/>
  <import
    resource="classpath*:/fr/brucella/form/prescows/entity/entityContext.xml"/>

</beans>
